.buy-now-button {
    all: unset;
    align-items: flex-start;
    background-color: #38b39c;
    border-radius: 5px;
    box-shadow: 0px 4px 12px #1c4efe33;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    padding: 8px 16px;
    position: relative;
}

.buy-now-button .content {
    align-items: flex-start;
    align-self: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
}

.buy-now-button .buy-now {
    color: #ffffff;
    font-family: "Proxima Nova-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
